/* Fixed style for certain elements across all pages */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@media screen and (max-width: 768px) {
    .nav {
	font-size: 0.75em;
	padding: 0.5vw;
    }
    .nav svg {
	display: none;
    }
    .banner {
	background-position: 40% 100%;
    }
    .banner h2 {
	font-size: 2em;
    }
}
@media screen and (min-width: 769px) {
    .nav {
	font-size: 0.9em;
	padding: 1vw 2vw;
    }
    .banner {
	background-position: 30% 100%;
    }
    .banner h2 {
	font-size: 3em;
    }
}

body {
    background: #141414;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.nav { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100vw; font-family: "Roboto", sans-serif; color: #FFFFFF; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 600; z-index: 1; }
.nav--fixed { position: fixed; }
.btn {
    height: 20px;
    background: #9C1717;
    padding: 1.3em;
    border-radius: 2px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a { text-decoration: none; color: unset; } a:hover { text-decoration: underline; }
.nav-pg { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.nav ul { list-style: none; } .nav li { display: inline-block; padding: 0 1em; } 

section .title {
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
}

.banner {
    padding: 10vw 0;
    margin: 5vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    background: url("../images/vectors/extra.png") #9C1717 no-repeat;
    background-position: 45vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}
.banner h2 {
    color: #FFFFFF;
    margin: 0;
}
.banner span {
    font-variant: small-caps;
}
