.featured {
    width: 100%;
    height: 45vw;
    position: relative;
}
.featured .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,1) 99.5%)
}
.featured video {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.meta {
    position: absolute;
    margin-left: 10em;
    bottom: 10em;
    z-index: 0;
}
.meta h1 {
    color: #FFFFFF;
}
.meta img {
    width: 35px;
    height: 35px;
    position: relative;
}
.meta span {
    color: #868686;
}

section {
    width: 100%;
    background: linear-gradient(#000000, #141414);
    color: #FFFFFF;
    padding: 5em;
    box-sizing: border-box;
}
.selection_drop {
    padding: 3em 0;
}
.selection_drop span {
    font-size: 1em;
    margin: 0 1vw;
}
.selection_drop select {
    appearance: none;
    -webkit-appearance: none;
    background: #000000;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 0.5vw;
    font-size: 0.9em;
}
.seleciton_drop::-ms-expand {
    display: none;
}
.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.showcase div {
    padding: 0 2.5em 0 0;
    min-width: 260px;
    text-align: center;
    flex: 1;
}
.showcase div img {
    width: 100%;
    height: 360px;
}
.showcase div span {
    display: block;
    padding: 1.5em;
    text-transform: capitalize;
}
